<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Projeto Aprendizado</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">@Html.ActionLink("Projeto Aprendizado", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            </div>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    @Html.ActionLink("Início", "Index", "Home")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Incluir", ("#exampleModal"), "Usuario", new { data_toggle = "modal", data_target = "#exampleModal" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Buscar Usuário", "Buscar", "Usuario")
                </li>
            </ul>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year 💻 Projeto Aprendizado ASP.NET</p>
        </footer>
    </div>

    <div class="loader-wrapper">
        <span class="loader">
            <span class="loader-inner">
            </span>
        </span>
    </div>



    @Scripts.Render("~/bundles/jquery")
    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut(1500);
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

